* {
  margin: 0px;
  padding: 0px;
  font-family: "HCo Gotham SSm", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bchainhome {
  width: 100vw;
  height: 100vh;
  /* position: absolute; */
  /* background-image: url("C:\Users\Rishi\Desktop\react-UI\dreamview-web\src\images\home.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.overlaybchain {
  width: 100%;
  height: 100%;
  font-size: 38px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  font-weight: 700;
}
.contentbchain-image {
  display: flex;
  margin-left: 50px;
  padding: 40px;
}
.contents-containerbchain {
  /* height: 100vh; */
  width: 100vh;
  padding: 40px;
  margin-right: 35px;
  line-height: 27px;
}
.contents-containerbchain h3 {
  font-weight: 600;
  color: #3e4348;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 34px;
}
.contents-containerbchain p {
  font-weight: 500;
  color: #3e4348;
  padding: 5px;
}

.boxelements-container {
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
}

.blockchain-box1,
.blockchain-box2,
.blockchain-box3 {
  border-radius: 20px;
  text-align: center;
  padding: 25px;
  flex: 1;
  margin: 20px;
  border: 1px solid #000;
  background-color: rgb(3, 33, 116);
  color: white;

  /* transition: background-color 0.3s, transform 0.3s; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.blockchain-box1:hover,
.blockchain-box2:hover,
.blockchain-box3:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.blockchain-box1 {
  height: 580px;
  width: 280px;
}
.blockchain-box2 {
  height: 380px;
  width: 90px;
}
.blockchain-box3 {
  height: 300px;
  width: 40px;
}
.blockchain-box1 h3,
.blockchain-box2 h3,
.blockchain-box3 h3 {
  font-size: 32px;
  font-weight: 600;
}
.blockchain-box1 p,
.blockchain-box2 p,
.blockchain-box3 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
}
.blockchain-button {
  padding: 15px 25px;
  /* border-radius: 5px; */
  background-color: rgb(3, 33, 116);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}
.blockchain-button:hover {
  box-shadow: 1px 1px 1px 1px;
  color: white;
  background-color: rgb(3, 33, 116);
  transform: scale(1.1);
  transition: transform 0.3s;
}
