* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'HCo Gotham SSm', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* body {
  margin: 0;
  padding: 0;
  background-image: url('home.jpg'); /* Replace 'path/to/your/image.jpg' with your image path */
  /* background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
} */ 